.ischemic-heart-container {
  width: 100vw;
  height: 100vh;
  background: rgb(10, 20, 40);
  cursor: grab;
  position: relative;
  overflow: hidden;
  display: flex;

}

.ischemic-heart-canvas {
  pointer-events: auto; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.ischemic-heart-canvas.no-events {
  pointer-events: none;
}

.description-wrapper {
  position: absolute;
  bottom: 200px; 
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
  pointer-events: none; 
}

.description-panel {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  overflow-y: auto; 
  max-height: 200px;
  pointer-events: none;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  font-size: 0.95rem;
  z-index: 10;  

}
@media (max-width: 600px) {
  .description-panel {
    font-size: 0.85rem;
    padding: 15px;
    max-height: 180px;
  }
}
.description-panel button {
  pointer-events: auto;
  background: #7e8285;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
}

.description-panel button:hover {
  background: #2980b9;
}

.overlay-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeInOverlay 0.5s ease forwards;
  pointer-events: none;
}

@keyframes fadeInOverlay {
  to {
    opacity: 1;
  }
}

.instruction-panel {
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
}

.info-panel {
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: justify;
  height: 100hv;
}

.text-2d-overlay {
  position: absolute;
  z-index: 10;
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 6px 10px;
  border-radius: 6px;
  pointer-events: none;
}

/* MODIFICADO PARA AJUSTARLO AL PANEL */
.text-2d-overlay.title {
  position: relative;
  z-index: 11;
  top: auto;
  left: auto;
  transform: none;
  font-size: 1.8rem;
  margin-bottom: 12px;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
  pointer-events: none;
  background: transparent;
}