.heart-beating-container {
  width: 100vw;
  height: 100vh;
  background: rgb(10, 20, 40);
  cursor: grab;
  position: relative;
  overflow: hidden;
  display: flex;
}

.heart-beating-canvas {
  pointer-events: auto; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.description-text-wrapper {
  position: absolute;
  bottom: 200px; 
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 20;
  pointer-events: none; 
}

.description-panel {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  overflow-y: auto; 
  max-height: 200px;
  pointer-events: none;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  font-size: 0.95rem;
  z-index: 10;  
}
@media (max-width: 600px) {
  .description-panel {
    font-size: 0.85rem;
    padding: 15px;
    max-height: 180px;
  }
}

.description-panel button {
 pointer-events: auto;
  background: #7e8285;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
}

.description-panel button:hover {
  background: #2980b9;
}

.overlay-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeInOverlay 0.5s ease forwards;
}

@keyframes fadeInOverlay {
  to {
    opacity: 1;
  }
}

@keyframes fadeOutOverlay {
  to {
    opacity: 0;
  }
}

.overlay-content {
  width: 90%;
  max-width: 1000px;
  background: #232f46;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor:crosshair;
}

.overlay-screen.is-active {
  opacity: 1;
}


.overlay-canvas-container canvas{
  pointer-events: none;
  z-index: 0;
  width: 90%;
}

.close-button {
  position: absolute;
  right: 10px;
  padding: 1rem 2.4rem;
  background: transparent;
  border:none;
  border-radius: 100px;
  color: white;
  font-size: 2rem;
  z-index: 200; 
  cursor: pointer;
}
.close-button:hover {
  background: #4978b6;
}

.instruction-panel {
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
}
.button-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
